# build folder
build/*

# Useless results
results/*
data/meshes/*
*.png

# deprecated folders
tigrillo/other/deprecated/*

# All compiled python scripts
*.pyc

# Pip files
*.egg-info/*
dist/*

# Other
*.user
*.directory
*.idea

# Development milestones
TODO
